.Chat__Main
  .Chat__Main__Header
    .Chat__Main__Header__LeftBox
      %p.CurrentGroup test
      %ul.MemberList
        Member:
        %li.UserName masa
    .Chat__Main__Header__RightBox
      %p.Edit__Btn
        =link_to "#", class: "Btn" do
          Edit
  .Chat__Main__Message
    .Chat__Main__Message__Box
      %ul.MessageData
        %li.UserName masa
        %li.CreatedAt 2020/11/20(Wed) 17:43:01
      %p.Type_A_Message おはよう
    .Chat__Main__Message__Box
      %ul.MessageData
        %li.UserName masa
        %li.CreatedAt 2020/11/20(Wed) 17:43:01
      %p.Type_A_Message おはよう
    .Chat__Main__Message__Box
      %ul.MessageData
        %li.UserName masa
        %li.CreatedAt 2020/11/20(Wed) 17:43:01
      %p.Type_A_Message おはよう
  .Chat__Main__Form
    %form.NewMessage
      .InputMessage
        %input{class: "InputText", type: "text", placeholder: "type a message"}
        %label{class: "InputImage"}
          = icon('fas', 'image', class: "ImageIcon")
          %input{class: "ImageFile", type: "file"}
      %input{class: "SubmitBtn", type: "submit", value: "SEND"}