.Chat__Main__Message__Box
  %ul.MessageData
    %li.UserName
      = message.user.name
    %li.CreatedAt
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  %p.Type_A_Message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?